.text-center{
    text-align: center;
    }
    #bg-red{
    background: rgb(115, 214, 201);
    width:27%;
    border: 5px solid black;
    border-radius: 20px;
    }
    .mx-auto{
    margin: auto;
    }
    .flex{
    display:flex;
    }
    .flex-col{
    flex-direction: column;
    }
    .items-center{
    align-items: center;
    }
    #lastrow{
    margin-bottom:30px;
    }